<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/headerlinks.ejs') %>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="/images/404.png" alt="404" class="img-fluid" title="Page Not Found">
                        </figure>
                        <p>Welcome to Md Shahzar Zone</p>
                        <h1><%= errMsg %></h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- footer code  -->
    <%- include('./partials/footer.ejs') %>
</body>

</html>