<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/headerlinks.ejs') %>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/Shahzar.png" alt="Shahzar" class="img-fluid" title="Md Shahzar">
                        </figure>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Md Shahzar Zone</p>
                        <h1>I am a <span class="text_clr">Web Developer</span> And A Software Developer Enthusiast</h1>
                        <a href="https://shaaz-portfolio.onrender.com/" target="_blank"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- footer code  -->
    <%- include('./partials/footer.ejs') %>
</body>

</html>